<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>[[#{text.offline.exchange.product.management}]]</title>
    <script type="text/javascript" th:src="@{/js/commonHead.js}"></script>
</head>
<style type="text/css">
    .layui-table th {
        text-align: center;
    }
</style>
<body>

<div class="admin-main fadeInUp animated">
    <blockquote class="layui-elem-quote">
        <form class="layui-form" id="searchForm">
            <div class="layui-form-item search-input" style="margin: 0;">
                <!--<div class="layui-input-inline">
                    <input type="text" name="goodsId" id="goodsId" class="layui-input"
                           th:placeholder="#{text.product.id}"/>
                </div>-->
                <div class="layui-form-mid layui-word-aux" style="padding: 0;">
                    <button type="button" class="layui-btn" onclick="search('searchForm', 'dataLoad')">
                        [[#{text.search.for}]]
                    </button>
                    <shiro:hasPermission name="download:offsite:exchange:goods">
                        <button type="button" onclick="download(this)" class="layui-btn">[[#{text.export.file}]]
                        </button>
                    </shiro:hasPermission>
                </div>
            </div>
        </form>
    </blockquote>
    <table class="layui-table" lay-data="{cellMinWidth: 80, page:true, id: 'dataLoad'}" lay-filter="dataTable">
        <thead>
        <tr>
            <th lay-data="{field:'id', width:'15%', align:'center'}">ID</th>
            <th lay-data="{field:'name', align:'center', width:'28%'}">文章标题</th>
            <th lay-data="{field:'author', align:'center', width:'8%'}">作者</th>
            <th lay-data="{field:'content', align:'center', width:'12%'}">所属板块</th>
            <th lay-data="{field:'createTime', align:'center', width:'12%'}">发布时间</th>
            <th lay-data="{width:'25%', align:'center',toolbar: '#barData'}">操作</th>

        </tr>
        </thead>
    </table>
    <script type="text/html" id="barData">
        <a class="layui-btn tableBtn" lay-event="viewDetail">预览</a>
        <a class="layui-btn tableBtn" lay-event="detail">编辑</a>
        <a class="layui-btn tableBtn" lay-event="detail">删除</a>
    </script>
</div>
</div>
</body>
<script>
    layui.use(['form', 'laydate'], function () {
        var laydate = layui.laydate;
        var curDate = formatDate(new Date);
        var createTime, endTime;


    });
    loadTableWithoutColumns('/manager/about', 'dataTable', 'searchForm');
    //[[#{text.lazy.loading}]]
    setTimeout('rowTool()', 1000); //延迟1秒

    function rowTool() {
        layui.use('table', function () {
            //[[#{text.listen.for.line.tool.events}]]
            table.on('tool(dataTable)', function (obj) {
                var goods = obj.data;
                var userId = goods.userId;
                var merchantId = goods.merchantId;
                var goodsId = goods.goodsId;
                var detail = JSON.stringify(goods);
                if (obj.event === 'viewDetail') {
                    window.open("/index/paper?id="+goods.id);
                }
                if (obj.event === 'goods-up') {
                    goodsUp(userId, merchantId, goodsId, this);
                }
                if (obj.event === 'goods-closeGoodsByAdmin') {
                    closeGoodsByAdmin(goodsId, this);
                }
                if (obj.event === 'goods-down') {
                    goodsDown(userId, merchantId, goodsId, this);
                }
            });
        });
    }

    //[[#{text.export.fee.list.file}]]
    function download(obj) {
        console.info();
        var goodsId = document.getElementById("goodsId").value;
        var merchantId = document.getElementById("merchantId").value;
        var endTime = document.getElementById("endTime").value;
        var startTime = document.getElementById("startTime").value;
        var telephone = document.getElementById("telephone").value;
        var pullOffFlag = document.getElementById("pullOffFlag").value;
        var url = "/offsite/exchange/goods/download?goodsId=" + goodsId + "&startTime=" + startTime + "&endTime=" + endTime
            + "&merchantId=" + merchantId + "&telephone=" + telephone + "&pullOffFlag=" + pullOffFlag;
        $.ajaxUkey({
            url: url,
            type: "get",
            async: "true",
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            success: function (responseText) {
                if (responseText.success == false) {
                    layer.alert(responseText.msg, {title: '[[#{text.information}]]', icon: 2});
                } else {
                    window.location.href = url;
                }

            },
            error: function () {
                layer.alert("[[#{text.system.abnormal.export.failure.prompt.message}]]", {
                    title: '[[#{text.information}]]',
                    icon: 2
                });
            }
        });
    }

    function goodsUp(userId, merchantId, goodsId, item) {
        $.ajaxUkey({
            url: '/offsite/exchange/goods/up',
            type: "POST",
            dataType: "json",
            data: JSON.stringify({
                'userId': userId,
                'merchantId': merchantId,
                'goodsId': goodsId
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function (result) {
                if (result.success) {
                    layer.alert('[[#{text.successful.operation}]]', {
                        title: '[[#{text.information}]]',
                        icon: 1
                    }, function (index) {
                        layer.close(index);
                        //location.reload();
                    });
                    search('searchForm', 'dataReload')
                } else {
                    if (!$.isEmptyObject(result.msg)) {
                        layer.alert(result.msg, {title: '[[#{text.information}]]', icon: 2});
                        return;
                    }
                    layer.alert('[[#{text.sys.op.fail }]]', {title: '[[#{text.information}]]', icon: 2});
                }
            }
        });
    }

    function closeGoodsByAdmin(goodsId, item) {
        $.ajaxUkey({
            url: '/offsite/exchange/goods/closeGoodsByAdmin',
            type: "POST",
            dataType: "json",
            data: JSON.stringify({
                'goodsId': goodsId
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function (result) {
                if (result.success) {
                    layer.alert('[[#{text.successful.operation}]]', {
                        title: '[[#{text.information}]]',
                        icon: 1
                    }, function (index) {
                        layer.close(index);
                        //location.reload();
                    });
                    search('searchForm', 'dataReload')
                } else {
                    if (!$.isEmptyObject(result.msg)) {
                        layer.alert(result.msg, {title: '[[#{text.information}]]', icon: 2});
                        return;
                    }
                    layer.alert('[[#{text.sys.op.fail }]]', {title: '[[#{text.information}]]', icon: 2});
                }
            }
        });
    }



    function goodsDown(userId, merchantId, goodsId, item) {
        $.ajaxUkey({
            url: '/offsite/exchange/goods/down',
            type: "POST",
            dataType: "json",
            data: JSON.stringify({
                'userId': userId,
                'merchantId': merchantId,
                'goodsId': goodsId
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function (result) {
                if (result.success) {
                    layer.alert('[[#{text.successful.operation}]]', {
                        title: '[[#{text.information}]]',
                        icon: 1
                    }, function (index) {
                        layer.close(index);
                        //location.reload();
                    });
                    search('searchForm', 'dataReload')
                } else {
                    if (!$.isEmptyObject(result.msg)) {
                        layer.alert(result.msg, {title: '[[#{text.information}]]', icon: 2});
                        return;
                    }
                    layer.alert('[[#{text.sys.op.fail }]]', {title: '[[#{text.information}]]', icon: 2});
                }
            }
        });
    }

    function telephoneHandle(data) {
        return data.replace(' ', '+');
        // return "1234"qishi
    }

    function limitRangeHandle(data) {
        return data.replace('-', ' ~ ');
    }


</script>
</html>
