<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>[[#{text.details.of.the.complaint}]]</title>
    <script type="text/javascript" th:src="@{/js/commonHead.js}"></script>
</head>
<style>
    .my-label{
        width: 100px;
    }
</style>

<body>
<fieldset class="layui-elem-field layui-field-title site-demo-button" style="margin-top: 20px;">
    <legend>[[${detail.id}]] [[#{text.transaction.arbitration}]] </legend>
</fieldset>
<form class="layui-form" action="" style="margin-top: 20px;">
    <input type="hidden" id="id" th:value="${detail.id}"  class="layui-input">
    <input type="hidden" id="initiativeByMerchant" th:value="${detail.initiativeByMerchant}" class="layui-input">
    <div class="layui-form-item">
        <div class="layui-form-item">
            <label class="layui-form-label my-label my-label">[[#{text.order.number}]]</label>
            <div class="layui-input-inline">
                <input type="text"  th:value="${order.orderId}" id="orderId"  class="layui-input" disabled>
            </div>
            <label class="layui-form-label my-label my-label">[[#{text.buyer}]]</label>
            <div class="layui-input-inline">
                <input type="text" th:value="${detail.buyerTelephone}" class="layui-input"  disabled>
            </div>
            <label class="layui-form-label my-label my-label">[[#{text.arbitration.status}]]</label>
            <div class="layui-input-inline">
                <input type="text"  th:value="${order.statusStr}"  class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label my-label">[[#{text.product.number}]]</label>
            <div class="layui-input-inline">
                <input type="text"  th:value="${order.goodsId}"  class="layui-input" disabled>
            </div>
            <label class="layui-form-label my-label">[[#{text.business}]]</label>
            <div class="layui-input-inline">
                <input type="text" th:value="${detail.merchantTelephone}" class="layui-input"  disabled>
            </div>

            <label class="layui-form-label my-label">[[#{text.current.order.status}]]</label>
            <div class="layui-input-inline">
                <input type="text"  th:value="${order.statusStr}"  class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label my-label">[[#{text.arbitration.number}]]</label>
            <div class="layui-input-inline">
                <input type="text"  th:value="${detail.id}"  class="layui-input" disabled>
            </div>
            <label class="layui-form-label my-label">[[#{text.complaint.time}]]</label>
            <div class="layui-input-inline">
                <input type="text"  th:value="${#dates.format(detail.createTime,'yyyy-MM-dd HH:mm:ss')}"  class="layui-input" disabled>
            </div>
            <label class="layui-form-label my-label">[[#{text.processing.status}]]</label>
            <div class="layui-input-inline">
                <input style="color: #af0000" type="text"  th:value="${detail.statusStr}"  class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label my-label">[[#{text.contact.number}]]</label>
            <div class="layui-input-inline" th:each="complaint : ${detail.complaintDetailRespList}">
                <input type="text" th:value="${complaint.fullTelephone}" style="height: 38px;line-height: 1.3;border-width: 1px;border-style: solid;background-color: #fff;border-color: #D2D2D2!important;padding-left: 10px;width: 116px;" disabled>
                <span id ="buyerArea"></span>
            </div>

        </div>
        <div class="layui-form-item" >
            <label class="layui-form-label my-label" style="font-size:larger">[[#{text.reason.for.complaint}]]:</label>
        </div>
        <div class="layui-form-item" th:each="complaint : ${detail.complaintDetailRespList}">

            <div class="layui-input-block" style="width: 850px;margin-left: 130px;">
                <label style="width: 100px;color: #1E9FFF" id = "byuerExlpArea" ></label>
                <textarea th:text="${complaint.content}" class="layui-textarea" disabled></textarea>
            </div>
            <div class="layui-form-item" style="float:left;margin-left: 130px;">
                <img onclick="imgZoom(this,'[[#{text.complaint.certificate}]]');" th:each="image : ${complaint.images}" class="layui-upload-img" name="image" style="width: 100px;height: 100px;" th:src="${image}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label my-label" style="font-size:larger">[[#{text.order.information}]]:</label>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label my-label">[[#{text.exchange.amount}]]</label>
            <div class="layui-input-inline">
                <input type="text"  th:value="${order.sourceCurrency}"  class="layui-input" disabled>
            </div>
            <label class="layui-form-label my-label">[[#{text.amount.received}]]</label>
            <div class="layui-input-inline">
                <input type="text"  th:value="${order.targetCurrency}"  class="layui-input" disabled>
            </div>
            <label class="layui-form-label my-label">[[#{text.exchange.rate}]]</label>
            <div class="layui-input-inline">
                <input type="text"  th:value="${order.exchangeRateStr}"  class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label my-label" style="font-size:larger">[[#{text.processing.records}]]:</label>
        </div>
        <div class="layui-form-item" style="margin-left: 60px; margin-right: 100px;">
            <table class="layui-table table-hover">
                <thead>
                <tr>
                    <th>[[#{text.processing.time}]]</th>
                    <th>[[#{text.processing.instructions}]]</th>
                    <th>[[#{text.operation.source}]]</th>
                    <th>[[#{text.certificate}]]</th>
                    <th>[[#{text.operator}]]</th>
                </tr>
                </thead>
                <!--[[#{text.content.container}]]-->
                <tbody id="con">
                <tr  th:each=" e: ${records}">
                    <td style="width: 11%;" th:text="${#dates.format(e.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td style="width: 50%;" th:text="${e.content}"></td>
                    <td th:text="${e.sourceTypeName}"></td>
                    <td><img th:each="image:${e.images}" th:src='${image}' onclick="imgZoom(this,'[[#{text.processing.credentials}]]');"></td>
                    <td th:text="${e.createBy}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="font-size:larger; width: 120px;margin-left:15px;">[[#{text.processing.completion.instructions}]]:</label>
        </div>
        <div class="layui-input-block" style="width: 1200px;margin-left: 150px;">
            <textarea id="completeContent"  th:text="${detail.completeContent}" class="layui-textarea" style="height: 200px;" disabled></textarea>
        </div>
    </div>
</form>
<!-- [[#{text.picture.view.original}]]-->
<div id="imgDiv" style="display: none;">
    <div class="layui-form-item">
        <img class="layui-upload-img" id="imgId" src="" >
    </div>
</div>
<script>

    function handleSystemOrUser(sourceType){
        if(sourceType == 0){
            return '系统';
        }
        return '用户';
    }

    function handleBuyerArea(){
        var val = '[[#{text.business}]]';
        var title = '${complaint.buyerComplain}';
        if(title!=null||title!=undefined||title!=''){
            if ($('#initiativeByMerchant').val() == "true") {
                val = "[[#{text.business}]]"
            } else {
                val = "[[#{text.buyer}]]";
            }
        }
        $("#buyerArea").html(val);
    }

    function handleBuyerExlArea(){
        var val = '[[#{text.buyer.merchant.application}]]';
        var title = '${complaint.buyerComplain}';
        if(title!=null||title!=undefined||title!=''){
            if ($('#initiativeByMerchant').val() == "true") {
                val = "[[#{text.buyer.merchant.application}]]";
            } else {
                val = "[[#{text.buyer.application}]]";
            }
        }
        $("#byuerExlpArea").html(val);
    }

    $(function(){
        handleBuyerArea()
        handleBuyerExlArea();
    })

    /**
     * [[#{text.view.original.photo}]]
     * @param obj
     * @param title
     */
    function imgZoom(obj, title) {
        $("#imgId").attr("src", obj.src);
        layer.open({
            type: 1,
            closeBtn: 1,
            title: '<b>' + title + '</b>',
            area: ['1200px', '800px'], //[[#{text.width.height}]]
            content: $("#imgDiv")
        });
        layui.form.render(); //[[#{text.update.all}]]
    }
</script>
</body>
</html>
