<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>转账记录</title>
    <script type="text/javascript" th:src="@{/js/commonHead.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<style>
    .layui-body {
        overflow-y: scroll;
    }

    body {
        overflow-y: scroll;
    }

    fieldset.border1 {
        border-style: solid;
        border-width: 10px;
        /*background-color: #1c8de0;*/
    }

    .titleClas {
        font-size: 20px;
        margin-left: 20px;
        margin-top: 20px;
    }
</style>
<body>

<div class="admin-main fadeInUp animated">
    <fieldset class="layui-elem-field border1">
        <!-- <div class="titleClas">转账记录</div> -->
        <blockquote class="layui-elem-quote">
            <form class="layui-form" id="searchForm">
                <div class="layui-form-item search-input" style="margin: 0;">
                    <div class="layui-input-inline">
                        <input type="text" name="id" id="id"
                               class="layui-input" th:placeholder="#{text.placeholder.id}">
                    </div>

                    <div class="layui-input-inline">
                        <input type="text" name="userId" id="userId"
                               class="layui-input" th:placeholder="#{text.placeholder.transfer.out.user.wallet.id}">
                    </div>

                    <div class="layui-input-inline">
                        <input type="text" name="userName" id="userName"
                               class="layui-input" th:placeholder="#{text.placeholder.transfer.out.user.username}">
                    </div>
                    <div class="layui-input-inline">
                        <select name="countryCodeOut" id="countryCodeOut" lay-verify="">
                            <option value="">[[#{text.column.transfer.out.user.wallet.countryCodeOut}]]</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="telephoneOut"
                                   name="telephoneOut" th:placeholder="#{text.column.transfer.out.user.wallet.telephoneOut}">
                        </div>
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" name="receiverId" id="receiverId"
                               class="layui-input" th:placeholder="#{text.placeholder.transfer.in.user.wallet.id}">
                    </div>

                    <div class="layui-input-inline">
                        <input type="text" name="receiverUserName" id="receiverUserName"
                               class="layui-input" th:placeholder="#{text.placeholder.transfer.in.user.username}">
                    </div>

                </div>
                <div class="layui-form-item search-input" style="margin: 0;">
                    <div class="layui-input-inline">
                        <select name="countryCodeIn" id="countryCodeIn" lay-verify="">
                            <option value="">[[#{text.column.transfer.in.user.wallet.countryCodeIn}]]</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="telephoneIn"
                                   name="telephoneIn" th:placeholder="#{text.column.transfer.in.user.wallet.telephoneIn}">
                        </div>
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="createTimeStart"
                               name="createTimeStart" th:placeholder="#{text.placeholder.start.trade.date}">
                    </div>

                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="createTimeEnd"
                               name="createTimeEnd" th:placeholder="#{text.placeholder.end.trade.date}">
                    </div>
                    <div class="layui-input-inline">
                        <select id="coinId" name="coinId" lay-filter="coinId">
                            <option value="">[[#{text.placeholder.coin}]]</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select id="status" name="status" lay-filter="status">
                            <option value="">[[#{text.placeholder.status}]]</option>
                            <option value="1">[[#{text.placeholder.status.handling}]]</option>
                            <option value="2">[[#{text.placeholder.status.success}]]</option>
                            <option value="3">[[#{text.placeholder.status.fail}]]</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item search-input" style="margin-top: 10px;">
                    <div class="layui-form-mid layui-word-aux" style="padding: 0">
                        <button type="button" class="layui-btn"
                                onclick="search('searchForm', 'dataLoad')">[[#{text.button.search}]]
                        </button>
                        <button type="button" class="layui-btn" onclick="reset()">[[#{text.button.clear}]]</button>
                        <button type="button" onclick="download()" class="layui-btn">[[#{text.button.export.file}]]
                        </button>
                    </div>
                </div>
            </form>
        </blockquote>

        <table class="layui-table" lay-data="{cellMinWidth: 80, page: true, id: 'dataLoad'}" lay-filter="dataTable">
            <thead>
            <tr>
                <th lay-data="{field:'id', align:'center'}">ID</th>
                <th lay-data="{field:'userId', align:'center'}">[[#{text.column.transfer.out.user.wallet.id}]]</th>
                <th lay-data="{field:'countryCodeOut', align:'center'}">[[#{text.column.transfer.out.user.wallet.countryCodeOut}]]</th>
                <th lay-data="{field:'telephoneOut', align:'center'}">[[#{text.column.transfer.out.user.wallet.telephoneOut}]]</th>
                <th lay-data="{field:'userName', align:'center'}">[[#{text.column.transfer.out.user.username}]]</th>
                <th lay-data="{field:'receiverId', align:'center'}">[[#{text.column.transfer.in.user.wallet.id}]]</th>
                <th lay-data="{field:'countryCodeIn', align:'center'}">[[#{text.column.transfer.in.user.wallet.countryCodeIn}]]</th>
                <th lay-data="{field:'telephoneIn', align:'center'}">[[#{text.column.transfer.in.user.wallet.telephoneIn}]]</th>
                <th lay-data="{field:'receiverUserName', align:'center'}">[[#{text.column.transfer.in.user.username}]]
                </th>
                <th lay-data="{align:'center', width: 80, templet: function (data){return getStatusStr(data.status);}}">
                    [[#{text.column.status}]]
                </th>
                <th lay-data="{field:'amount', align:'center'}">[[#{text.column.amount}]]</th>
                <th lay-data="{field:'fee', align:'center'}">[[#{text.column.fee}]]</th>
                <th lay-data="{field:'coinName', align:'center'}">[[#{text.column.coin}]]</th>
                <th lay-data="{field:'createTime', align:'center',templet: function (data){return formatDateL(data.createTime);}}">
                    [[#{text.column.trade.date}]]
                </th>
                <th lay-data="{fixed: 'right', align:'center',templet: function(data){return renderBtn(data);}}">
                    [[#{text.column.operate}]]
                </th>
            </tr>
            </thead>
        </table>

    </fieldset>
</div>
</body>
<script type="text/javascript">
    initCountryCode($('#countryCodeOut'));
    initCountryCode($('#countryCodeIn'));

    //初始化国家简码选择框
    function initCountryCode(countryCodeId) {
        $.ajax({
            url: '/globalCode/listPage',
            type: 'POST',
            data: {current: 1, size: 10000},
            dataType: 'json',
            async: false,
            success: function (data) {
                if (data.success) {
                    if (undefined != data && undefined != data.data && undefined != data.data.records) {
                        var html = '';
                        $.each(data.data.records, function (i, item) {
                            html += '<option value="' + item.countryCode + '">' + item.countryCode + '/' + item.phoneCode + '</option>';
                        })
                        // console.log(html)
                        countryCodeId.append(html);
                    }
                }
            }
        });
    }

    var current = 1;
    var size = 10;
    var coinId;
    var userId;
    var transferNum;
    var type;
    var gameType;
    var respData;
    var iframeNode;
    layui.use(['form', 'laydate'], function () {
        var form = layui.form;
        var laydate = layui.laydate;
        var curDate = formatDateL(new Date);
        var createTime, updateTime;
        // [[#{text.time.selection.general.usage}]]
        laydate.render({
            elem: '#createTimeStart'
            , type: 'datetime'
            , done: function (value, date) {
                //实时修正当前时间（场景是用户出于日交替的时间前一天跨度到后一天时候，不[[#{text.update.time}]]会出现时间还是昨天）
                curDate = formatDateL(new Date);
                if (value > curDate) {
                    layer.msg("[[#{text.start.trading.period.cannot.be.larger.than.current.period}]]");
                    $("#createTimeStart").val("");
                    return;
                } else if (value > updateTime) {
                    layer.msg("[[#{text.start.transaction.date.cannot.be.greater.than.end.transaction.date}]]");
                    $("#createTimeStart").val("");
                    return;
                }
                createTime = value;
            }
        });
        laydate.render({
            elem: '#createTimeEnd'
            , type: 'datetime'
            , done: function (value, date) {
                //实时修正当前时间（场景是用户出于日交替的时间前一天跨度到后一天时候，不[[#{text.update.time}]]会出现时间还是昨天）
                curDate = formatDateL(new Date);
                if (value > curDate) {
//                layer.msg("[[#{text.end.of.trading.period.cannot.be.larger.than.the.current.period}]]");
//                $("#createTimeEnd").val("");
//                return;
                } else if (value < createTime) {
                    layer.msg("[[#{text.the.end.of.the.trading.period.cannot.be.less.than.the.beginning.of.the.trading.period}]]");
                    $("#createTimeEnd").val("");
                    return;
                }
                updateTime = value;
            }
        });
        //[[#{text.initial.currency.drop.down}]]
        $.ajax({
            url: "/coin/list",
            type: "post",
            contentType: "application/json; charset=utf-8",
            data: "{\"coinName\":null,\"current\":1,\"size\":1000}",
            success: function (res) {
                var msg = res.data;
                var isShowAccount = msg.isShowAccount;
                $.each(msg.dataResult.data.records, function (i, v) {
                    if (!v.hideFlag) {
                        var id = v.id;
                        var text = "";
                        if (isShowAccount) {
                            text = v.aliasName;
                        } else {
                            text = v.coinName;
                        }
                        $("#coinId").append("<option value='" + id + "'>" + text + "</option>");
                    }
                });
                form.render();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                // alert(errorThrown);
            }
        });
    });
    loadTableWithoutColumns('/transaction/transfer/friends/listPage', 'dataTable', 'searchForm');

    function getStatusStr(status) {
        var statusStr = "";
        if (status == 1 || status == 2 || status == 3) {
            statusStr = "<font color='orange'>[[#{text.processing}]]</font>";
        } else if (status == 4) {
            statusStr = "<font color='green'>[[#{text.success}]]</font>";
        } else if (status == 5) {
            statusStr = "<font color='red'>[[#{text.failure}]]</font>";
        }
        return statusStr;
    }

    // [[#{text.application.list.file.export}]]
    function download() {
        var url = "/transaction/transfer/friends/download/list?" + $("#searchForm").serialize();
        // [[#{text.acquire.lock}]]
        var urlLock = "/transaction/transfer/friends/downloadLock?" + $("#searchForm").serialize();
        $.ajaxUkey({
            url: urlLock,
            type: "post",
            async: "true",
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            success: function (responseText) {
                if (responseText.success == false) {
                    layer.alert(responseText.msg, {
                        title: '[[#{text.information}]]',
                        icon: 2
                    });
                } else {
                    //[[#{text.acquire.lock}]]后去下载
                    //window.location.href = url;
                    //[[#{text.acquire.lock}]]后去下载
                    if (iframeNode != undefined && iframeNode != null) {
                        document.body.removeChild(iframeNode);
                    }
                    iframeNode = document.createElement("iframe");
                    iframeNode.src = url;
                    iframeNode.style.display = "none";
                    document.body.appendChild(iframeNode);
                    if (iframeNode.attachEvent) { // 兼容IE写法
                        iframeNode.attachEvent("onload", function () {
                            // iframeNode[[#{text.what.to.do.after.loading}]]
                            var msgerror = iframeNode.contentWindow.document.body.innerHTML;
                            if (!"" == msgerror) {
                                layer.alert(msgerror, {
                                    title: '[[#{text.information}]]',
                                    icon: 2
                                });
                            }
                        })
                    } else {
                        iframeNode.onload = function () {
                            // iframeNode[[#{text.what.to.do.after.loading}]]
                            var msgerror = iframeNode.contentWindow.document.body.innerHTML;
                            if (!"" == msgerror) {
                                layer.alert(msgerror, {
                                    title: '[[#{text.information}]]',
                                    icon: 2
                                });
                            }
                        }
                    }
                }

            },
            error: function () {
                layer.alert("[[#{text.system.exception.export.failed}]]", {
                    title: '[[#{text.information}]]',
                    icon: 2
                });
            }
        });
    }

    function renderBtn(data) {
        return '<a href="javascript:;" onclick="detail(this)" aid="' + data.id
            + '" class="layui-btn layui-btn-sm">[[#{text.column.see.detail}]]</a>';
    }

    // [[#{text.see.details}]]
    function detail(obj) {
        var me = $(obj);
        var id = me.attr('aid');
        var url = "/transaction/transfer/friends/detail?id=" + id;
        var maxHeight = 750;
        var winHeight = window.parent.document.body.clientHeight;
        var height = winHeight > 200 ? (winHeight - 110) : winHeight;
        //[[#{text.limit.maximum.height}]]
        height = height > maxHeight ? maxHeight : height;
        openModal("[[#{text.column.see.detail}]]", url, "600px", height + "px");
    }

</script>
</html>