<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>群成员</title>
    <script type="text/javascript" th:src="@{/js/commonHead.js}"></script>
    <script type="text/javascript" th:src="@{/layui/lay/modules/jquery.js}"></script>
</head>
<body>

<div class="admin-main fadeInUp animated">
    <blockquote class="layui-elem-quote">
        <form class="layui-form" id="searchForm">
            <div class="layui-form-item search-input" style="margin:0;">
                <div class="layui-input-inline">
                    <input type="text" name="groupId" id="groupId" class="layui-input" placeholder="请输入群组ID" />
                    <input type="hidden" id="groupIdHidden" th:value="${groupId}"/>
                </div>
                <div class="layui-form-mid layui-word-aux" style="padding:0;">
                    <button type="button" class="layui-btn"  onclick="search()">搜索</button>
                    <button type="button" class="layui-btn"  onclick="reset()">清空</button>
                </div>
            </div>
        </form>
    </blockquote>
    <fieldset class="layui-elem-field">
        <div class="layui-field-box table-responsive">
            <table class="layui-table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>群组ID</th>
                    <th>群成员账户</th>
                    <th>群成员昵称</th>
                    <th>成员身份</th>
                    <th>创建时间</th>
                </tr>
                </thead>
                <!--内容容器-->
                <tbody id="content"></tbody>
                <tfoot>
                <tr>
                    <td colspan="6">
                        <!--分页容器-->
                        <div id="page"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </fieldset>
</div>

<script>
    layui.use('layer', function() {
        var layer = layui.layer;
    });
    layui.use('form', function() {
        var form = layui.form;
    });

    var current = 1;
    var size = 10;
    var respData;
    $(function () {
        var gid = $("#groupIdHidden").val();
        $("#groupId").val(gid);
        search(current, size);
    });


    function reset(){
        $('#searchForm')[0].reset();
    };

    function search(current, size){
        if(!size){
            size = 10;
        }
        if(!current){
            current = 1;
        }
        var data = $.param({"current":current, "size":size}) + "&" + $("#searchForm").serialize();
        $.ajaxUkey({
            url: '/groupMember/listPage',
            type: 'POST',
            data: data,
            dataType: 'json',
            success: function (data) {
                if (data.success) {
                    respData = data.data.records;
                    var html = '';
                    $.each(respData, function (i, item) {
                        html += '<tr>';
                        html += '<td>' + item.gid + '</td>';
                        html += '<td>' + item.groupId + '</td>';
                        html += '<td>' + item.account||'' + '</td>';
                        html += '<td>' + item.memberNickName||'' + '</td>';
                        if(0 == item.host){
                            html += '<td>' + "普通成员" + '</td>';
                        }else if(1 == item.host){
                            html += '<td>' + "群主" + '</td>';
                        }else{
                            html += '<td>' + item.host + '</td>';
                        }
                        html += '<td>' + formatDateL(item.createTime) + '</td>';
                        html += '</tr>'
                    });
                    $("#content").html(html);
                    <!------- 分页 -------->
                    layui.use(['laypage', 'layer'], function () {
                        var laypage = layui.laypage
                            , layer = layui.layer;
                        laypage.render({
                            elem: 'page'
                            , limit: size
                            , curr: current
                            , count: data.data.total
                            , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                            , jump: function (obj, first) {
                                this.current = obj.curr;
                                this.size = obj.limit;
                                if(!first){
                                    search(obj.curr, obj.limit);
                                }
                            }
                        });
                    });
                }else{
                    $("#content").html('<tr><td colspan="6" style="color: red;text-align: center"><b>' + data.msg + '</b></td></tr>');
                }
            }
        });
    }


</script>

</body>
</html>