<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- th:fragment 定义需要引入的代码块，该div包含的内容即为引用的公共内容 -->
<div th:fragment="myfooterDiv">
    <div class="footer">
        <footer class="site-footer">

            <div class="site-footer__upper">
                <div class="container">
                    <div class="row">

                        <!-- /.col-lg-3 -->
                        <div class="col-xl-3 col-lg-4">
                            <div class="footer-widget footer-widget__contact-widget">
                                <h2 class="footer-widget__title">详细咨询</h2><!-- /.footer-widget__title -->
                                <p class="footer-widget__text">联系电话/微信/WhatsApp:+86 18613088481
                                </p>
                                <!-- /.footer-widget__text -->
                                <p class="footer-widget__text">邮件: Cary@djcargo.cn</p><!-- /.footer-widget__text -->
                                <p class="footer-widget__text">Q Q : 3102882774</p><br><br>
                                <p>  </p> <p>  </p> <p>  </p> <p>  </p><p>  </p><br><br><!-- /.footer-widget__text -->
                                <p class="footer-widget__text"><img src="/images/qrcode.png" width="185" class="footer-widget__logo" alt=""></p>
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-3 -->

                        <div class="col-xl-6 col-lg-5">

                            <div class="footer-widget footer-widget__about-widget" >
                                <h2 class="footer-widget__title">最新消息</h2>
                                <div th:each="user : ${newPaper}">
                                <p class="footer-widget__text" ><a style="color:white" target="_blank"   th:text="${user.name}" th:href="${user.id}" >
                                    ${user.name}</a></p><br>
                                </div>
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-xl-3 col-lg-3">
                            <div class="footer-widget footer-widget__links-widget">
                                <h2 class="footer-widget__title">专线国家</h2><!-- /.footer-widget__title -->
                                <ul class="footer-widget__links list-unstyled">
                                    <li><a href="#"> 新加坡</a></li>
                                    <li><a href="#"> 马来西亚 </a></li>
                                    <li><a href="#"> 泰国</a></li>
                                </ul><!-- /.footer-widget__links -->
                            </div><!-- /.footer-widget -->
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.site-footer__upper -->
            <div class="site-footer__bottom">
                <center>
                <div class="container">
                    <div class="site-footer__copy" style="font-size: 13px">广州递接国际货运代理有限公司版权所有www.djcargo.cn Copyright 2029 粤ICP备18115391号-1
                    </div>
                    <!-- /.site-footer__copy -->
                    <ul class="list-unstyled site-footer__links" >
                        <li><a href="#" style="font-size: 13px">地址:广州市白云区嘉禾望岗工业二路29号二栋一楼</a></li>
                    </ul><!-- /.list-unstyled -->
                </div><!-- /.container -->
                </center>
            </div><!-- /.site-footer__bottom -->
    </div>
</div>

</html>

