<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>[[#{text.topgate.recharge.manager}]]</title>
    <script type="text/javascript" th:src="@{/js/commonHead.js}"></script>
    <script>var hasOpenPermission = false</script>
</head>

<body>
<div class="admin-main fadeInUp animated">
    <blockquote class="layui-elem-quote">
        <form class="layui-form" id="searchForm">
            <div class="layui-form-item search-input" style="margin:0;">
                <div class="layui-form-mid layui-word-aux" style="padding:0;">
                    <shiro:hasPermission name="add:topgate:recharge:payway">
                        <button type="button" class="layui-btn" onclick="save(this)">[[#{text.add}]]</button>
                    </shiro:hasPermission>
                </div>
            </div>
        </form>
    </blockquote>
    <table class="layui-table" lay-data="{cellMinWidth: 80, page:true, id: 'dataReload'}" lay-filter="tableData">
        <thead>
        <tr>
            <th lay-data="{type:'numbers', width:'6%',align:'center',style:'height:65px;'}">[[#{text.serial.number}]]
            </th>
            <th lay-data="{align:'center',templet: function (data) {
                           return data.payName;
                        }}">[[#{text.payment.method}]]
            </th>
            <th lay-data="{align:'center',templet: function (data) {
                           return '<img width=30 height=30 src='+data.logo+' />';
                        }}">[[#{text.payment.method}]]logo
            </th>
            <!--
            <th lay-data="{align:'center',templet: function (data) {
                           return data.coinId;
                        }}">[[#{text.payment.coinId}]]
            </th>
            -->
            <th lay-data="{align:'center',templet: function (data) {
                           return data.coinName;
                        }}">[[#{text.payment.lgCoinName}]]
            </th>
            <th lay-data="{align:'center',templet: function (data) {
                           return data.thirdCoinName;
                        }}">[[#{text.payment.thirdCoinName}]]
            </th>
            <th lay-data="{align:'center',templet: function (data) {
                           return data.minAmount;
                        }}">[[#{text.payway.min.amount}]]
            </th>
            <th lay-data="{align:'center',templet: function (data) {
                           return data.maxAmount;
                        }}">[[#{text.payway.max.amount}]]
            </th>
            <th lay-data="{align:'center',templet: function (data) {
                           return (data.innerFee)+'%';
                        }}">[[#{text.payway.inner.fee}]]
            </th>
            <th lay-data="{align:'center',templet: function (data) {
                           return (data.thirdFee)+'%';
                        }}">[[#{text.payway.other.fee}]]
            </th>
            <th lay-data="{align:'center',templet: '#switchTpl', unresize: true}">[[#{text.payway.on.off}]]</th>
            </th>
            <th lay-data="{ width:'20%',align:'center',toolbar: '#barData'}">[[#{text.operating}]]</th>
        </tr>
        </tr>
        </thead>
    </table>

    <script type="text/html" id="switchTpl">
        <input type="checkbox" name="updateStatus" value="{{d.enable}}" aid="{{d.id}}"
               lay-skin="switch" lay-text="ON|OFF" lay-filter="enable" {{ d.enable== true
               ? 'checked' : '' }}>
    </script>
    <script type="text/html" id="barData">
        <a class="layui-btn tableBtn" lay-event="edit" shiro:hasPermission="'edit:topgate:recharge:payway'"><i
                class="layui-icon"></i>[[#{text.edit}]]</a>
        <a class="layui-btn tableBtn" lay-event="del" shiro:hasPermission="'del:topgate:recharge:payway'"><i
                class="layui-icon"></i>[[#{text.delete}]]</a>
    </script>
</div>

<script>

    layui.use('layer', function () {
        var layer = layui.layer;
    });
    layui.use('form', function () {
        var form = layui.form;
    });

    //[[#{text.query.data}]]
    loadTableWithoutColumns('/topgate/recharge/payway/list/page', 'tableData', 'searchForm');

    //[[#{text.lazy.loading}]]
    setTimeout('rowTool()', 1000); //延迟1秒
    function rowTool() {
        layui.use('table', function () {
            //[[#{text.listen.for.line.tool.events}]]
            table.on('tool(tableData)', function (obj) {
                if (obj.event === 'edit') {
                    save(obj.data);
                } else if (obj.event === 'del') {
                    del(obj.data.id);
                }
            });
        });
        //监听商家状态操作
        form.on('switch(enable)', function (obj) {
            console.log(this.value);
            var status = this.value === 'true' ? false : true;
            var id = obj.elem.attributes.aid.value;
            var formData = JSON.stringify({"enable": status, "id": id});
            // sendAjaxPost("/topgate/recharge/payway/onOrOff", formData);

            var tishi = layer.load(1, {shade: [0.8, '#393D49']});
            $.ajaxUkey({
                url: "/topgate/recharge/payway/onOrOff",
                type: 'POST',
                data: formData,
                dataType: 'json',
                contentType: 'application/json;charset=UTF-8',
                success: function (data) {
                    layer.close(tishi);
                    if (data.success) {
                        var message = data.data;
                        if ($.isEmptyObject(message)) {
                            message = "操作成功";
                        }
                        layer.msg(message,
                            {
                                offset: '15px',
                                time: 1000
                            },
                            function () {
                                $(".layui-laypage-btn")[0].click();
                            });
                    } else {
                        layer.msg(data.msg);
                        loadTableWithoutColumns('/topgate/recharge/payway/list/page', 'tableData', 'searchForm');
                    }
                },
                error: function (e) {
                    //最后数据加载完 让 loading层消失
                    layer.close(tishi);
                    layer.msg('系统升级维护中，请稍后重试');
                }
            });
            // console.log(formData);
        });
    }

    //[[#{text.add.or.edit}]]
    function save(obj) {
        var aid = $(obj).attr("id");
        var url;
        var title = "[[#{text.add}]]";
        if (aid != undefined) {
            url = "/topgate/recharge/payway/edit?id=" + aid.toString();
            title = "[[#{text.edit}]]";
        } else {
            url = "/topgate/recharge/payway/add";
        }
        layer.open({
            type: 2,
            closeBtn: 1,
            offset: '50px',
            title: '<b>' + title + '</b>',
            area: ['540px', '550px'], //[[#{text.width.height}]]
            content: url
        });
    }

    //[[#{text.delete}]]
    function del(id) {
        layer.confirm("[[#{text.are.you.sure.you.want.to.delete}]]", {
            icon: 3,
            title: '[[#{text.operation.alert}]]',
            offset: 100
        }, function (index) {
            //[[#{text.close.popup.layer}]]
            layer.close(index);
            var tishi = layer.load(1, {shade: [0.8, '#393D49']});
            $.ajaxUkey({
                data: JSON.stringify({id: id}),
                type: 'POST',
                dataType: "JSON",
                contentType: 'application/json;charset=UTF-8',
                url: '/topgate/recharge/payway/del',
                success: function (data) {
                    if (data.success) {
                        layer.msg("[[#{text.successful.operation}]]");
                        $(".layui-laypage-btn")[0].click();
                    } else {
                        layer.msg(data.msg);
                    }
                    //最后数据加载完 让 loading层消失
                    layer.close(tishi);
                },
                error: function (e) {
                    layer.msg('[[#{text.system.upgrade.and.maintenance,.please.try.again.later}]]');
                    //最后数据加载完 让 loading层消失
                    layer.close(tishi);
                }
            });
        });
    }

</script>
</body>
</html>
