<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>[[#{text.mq.msg.send.title}]]</title>
    <script type="text/javascript" th:src="@{/js/commonHead.js}"></script>
    <script>var hasPermission = false</script>
</head>
<style>
    .layui-body {
        overflow-y: scroll;
    }

    body {
        overflow-y: scroll;
    }

    fieldset.border1 {
        border-style: solid;
        border-width: 10px;
        /*background-color: #1c8de0;*/
    }

    .titleClas {
        font-size: 20px;
        margin-left: 20px;
        margin-top: 20px;
    }
</style>
<body>

<input th:value="${typeMap}" id="typeMapId" name="typeMapId" hidden>

<shiro:hasPermission name="operate:mq:msg:send">
    <script>hasPermission = true</script>
</shiro:hasPermission>

<div class="admin-main fadeInUp animated">
    <fieldset class="layui-elem-field border1">
        <blockquote class="layui-elem-quote">
            <form class="layui-form" id="searchForm">
                <div class="layui-form-item search-input" style="margin:0;">
                    <div class="layui-input-inline">
                        <select id="type" name="type" lay-filter="type">
                            <option value="">[[#{text.please.choose.the.type}]]</option>
                        </select>
                    </div>

                    <div class="layui-input-inline">
                        <input type="text" name="id" id="id" class="layui-input"
                               th:placeholder="#{text.please.enter.key.id}">
                    </div>

                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="createTime" name="createTime"
                               th:placeholder="#{text.please.select.a.start.date}">
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="updateTime" name="updateTime"
                               th:placeholder="#{text.please.select.an.end.date}">
                    </div>

                </div>
                <div class="layui-form-item search-input" style="margin-top:10px;">
                    <div class="layui-form-mid layui-word-aux" style="padding:0">
                        <button type="button" class="layui-btn" onclick="search('searchForm', 'dataLoad')">
                            [[#{text.search.for}]]
                        </button>
                        <button type="button" class="layui-btn" onclick="reset()">[[#{text.clear}]]</button>
                    </div>

                </div>
            </form>
        </blockquote>

        <table class="layui-table" lay-data="{cellMinWidth: 80, page: true, id: 'dataLoad'}" lay-filter="dataTable">
            <thead>
            <tr>
                <th lay-data="{field:'id', align:'center', width: 180}">ID</th>
                <th lay-data="{align:'center', width: 180, templet: function (data){
                        return getTypeStr(data.type);
                    }}">[[#{text.types.of}]]
                </th>
                <th lay-data="{field:'msgContent', align:'center', width: 150}">[[#{text.content}]]</th>
                <th lay-data="{align:'center', width: 110, templet: function (data){
                        return getStatusStr(data.sendAck);
                    }}">[[#{text.send.status}]]
                </th>
                <th lay-data="{field:'sendRetryTimes',width: 120, align:'center'}">[[#{text.send.retry.times}]]</th>
                <th lay-data="{field:'sendFailCause', align:'center', width: 120}">[[#{text.send.fail.cause}]]</th>
                <th lay-data="{align:'center', width: 110, templet: function (data){
                        return getStatusStr(data.consumerAck);
                    }}">[[#{text.consumer.ack}]]
                </th>
                <th lay-data="{field:'consumerRetryTimes', align:'center', width: 120}">
                    [[#{text.consumer.retry.times}]]
                </th>
                <th lay-data="{field:'consumerFailCause', align:'center', width: 150}">[[#{text.consumer.fail.cause}]]
                </th>
                <th lay-data="{align:'center', width: 150, templet: function (data){
                        return getCancelAutoRetryStr(data.cancelAutoRetry);
                    }}">[[#{text.cancel.auto.retry}]]
                </th>

                <th lay-data="{field:'createTime', width: 160, align:'center',templet: function (data) {
                           return formatDateL(data.createTime);
                        }}">[[#{text.create.time}]]
                </th>
                <th lay-data="{field:'updateTime', width: 160, align:'center',templet: function (data) {
                           return formatDateL(data.updateTime);
                        }}">[[#{text.update.time}]]
                </th>
                </th>
                <th lay-data="{fixed: 'right', align:'center',templet: function(data){
        return renderBtn(data);
                }}">[[#{text.operating}]]
                </th>
            </tr>
            </thead>
        </table>

    </fieldset>
</div>

</body>
</html>

<script type="text/javascript">
    var current = 1;
    var size = 10;
    var coinId;
    var userId;
    var type;
    var respData;
    layui.use(['form', 'laydate', 'table'], function () {
        var laydate = layui.laydate;
        var curDate = formatDate(new Date);
        var createTime, updateTime;
        var table = layui.table;
        laydate.render({
            elem: '#createTime'
            , done: function (value, date) {
                if (value > curDate) {
                    layer.msg("[[#{text.start.trading.period.cannot.be.larger.than.current.period}]]");
                    $("#createTime").val("");
                    return;
                } else if (value > updateTime) {
                    layer.msg("[[#{text.start.transaction.date.cannot.be.greater.than.end.transaction.date}]]");
                    $("#createTime").val("");
                    return;
                }
                createTime = value;
            }
        });
        laydate.render({
            elem: '#updateTime'
            , done: function (value, date) {
                if (value > curDate) {
                    layer.msg("[[#{text.end.of.trading.period.cannot.be.larger.than.the.current.period}]]");
                    $("#updateTime").val("");
                    return;
                } else if (value < createTime) {
                    layer.msg("[[#{text.the.end.of.the.trading.period.cannot.be.less.than.the.beginning.of.the.trading.period}]]");
                    $("#updateTime").val("");
                    return;
                }
                updateTime = value;
            }
        });

        table.on('tool(dataTable)', function (obj) {
            var data = obj.data;
            var tt = "[[#{text.are.you.sure.to.process.this.piece.of.data}]]";
            var retry_tt = data.cancelAutoRetry == 0 ? "[[#{text.are.you.sure.to.stop.automatic.retry.first}]]" : tt;
            if (obj.event === 'retry') {
                layer.confirm(retry_tt, function (index) {
                    retry(data);
                });
            } else if (obj.event === 'cancel') {
                layer.confirm(tt, function (index) {
                    cancel(data);
                });
            }
        });

    });

    loadTableWithoutColumns('/mq/msg/send/list/page', 'dataTable', 'searchForm');

    function getCancelAutoRetryStr(value) {
        var statusStr = "";
        if (value == 1) {
            statusStr = "<font color='#8b0000'>[[#{text.operation.yes}]]</font>";
        } else {
            statusStr = "[[#{text.operation.no}]]";
        }
        return statusStr;
    }

    function getStatusStr(status) {
        var statusStr = "";
        if (status == 0) {
            statusStr = "[[#{text.placeholder.status.fail}]]";
        } else if (status == 1) {
            statusStr = "<font color='#ffd700'>[[#{text.placeholder.status.success}]]</font>";
        }
        return statusStr;
    }

    function renderBtn(data) {
        var html = '';
        if (hasPermission) {
            html += '<a href="javascript:;" lay-event="retry" class="layui-btn" style="line-height: 28px;">[[#{text.retry}]]</a>';
            if (data.cancelAutoRetry == 0) {
                html += '<a href="javascript:;" lay-event="cancel" class="layui-btn" style="line-height: 28px;">[[#{text.stop.automatic.retry}]]</a>';
            } else {
                html += '<a href="javascript:;" class="layui-btn" style="line-height: 28px;background-color: grey;cursor: none">[[#{text.stop.automatic.retry}]]</a>';
            }
        }
        return html;
    }

    function cancel(data) {
        var tishi = layer.load(1, {shade: [0.8, '#393D49']})
        $.ajaxUkey({
            url: '/mq/msg/send/cancel',
            type: 'POST',
            data: {
                id: data.id
            },
            dataType: 'json',
            success: function (data) {
                if (data.success) {
                    if (typeof (data.data) == "object") {
                        layer.msg(data.data.message);
                    } else if (data.data == true) {
                        layer.msg('[[#{text.successful.operation}]]');
                    }
                    $(".layui-laypage-btn")[0].click();
                } else {
                    layer.msg(data.msg);
                }
                //最后数据加载完 让 loading层消失
                layer.close(tishi);
            },
            error: function (e) {
                layer.msg('[[#{text.system.upgrade.and.maintenance,.please.try.again.later}]]');
                //最后数据加载完 让 loading层消失
                layer.close(tishi);
            }
        });

    }

    function retry(data) {
        var tishi = layer.load(1, {shade: [0.8, '#393D49']})
        $.ajaxUkey({
            url: '/mq/msg/send/retry',
            type: 'POST',
            data: {
                id: data.id
            },
            dataType: 'json',
            success: function (data) {
                if (data.success) {
                    if (typeof (data.data) == "object" && data.data.message != null) {
                        layer.msg(data.data.message);
                    } else if (data.data == true || JSON.stringify(data.data) === '{}') {
                        layer.msg('[[#{text.successful.operation}]]');
                    }
                    $(".layui-laypage-btn")[0].click();
                } else {
                    layer.msg(data.msg);
                }
                //最后数据加载完 让 loading层消失
                layer.close(tishi);
            },
            error: function (e) {
                layer.msg('[[#{text.system.upgrade.and.maintenance,.please.try.again.later}]]');
                //最后数据加载完 让 loading层消失
                layer.close(tishi);
            }
        });

    }

    var typeMap = {};
    $(document).ready(function () {
        var typeListStr = $("input[name='typeMapId']").val();
        var typeList = JSON.parse(typeListStr);
        for (x in typeList) {

            $("select[name='type']").append("<option value='" + typeList[x].code + "'>" + typeList[x].description + "</option>");
            typeMap[typeList[x].code] = typeList[x].description;
        }
    });

    function getTypeStr(type) {
        return typeMap[type];
    }
</script>
