<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>新增报警</title>
    <script type="text/javascript" th:src="@{/js/commonHead.js}"></script>
</head>

<body>
<input th:value="${subTypeMap}" id="subTypeMapId" name="subTypeMapId" hidden>
<form class="layui-form" action="" id="addForm" style="padding-top: 10px">
    <div class="layui-form-item" style="margin-top: 10px;">
        <div class="layui-inline">
            <label class="layui-form-label" style="width:95px;">状态</label>
            <div class="layui-input-block" style="width: 380px;margin-left:130px;">
                <input type="radio" name="enable" value="0" title="禁用">
                <input type="radio" name="enable" value="1" checked title="启用">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width:95px;">类型</label>
            <div class="layui-input-block" style="width:380px;margin-left:130px;">
                <select id="type" name="type" lay-verify="required" lay-filter="type">
                    <option value="">请选择类型</option>
                    <option value="1" selected>资产频繁操作配置</option>
                    <option value="2">平台资产报警配置</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item" id="div_sub_type">
        <div class="layui-inline">
            <label class="layui-form-label" style="width:95px;">子类型</label>
            <div class="layui-input-block" style="width:380px;margin-left:130px;">
                <select id="flowSubType" name="flowSubType" >
                    <option value="">请选择类型</option>
                </select>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width:95px;">描述</label>
            <div class="layui-input-block" style="width:380px;margin-left:130px;">
                <input type="text" name="desc" lay-verify="required" placeholder="请输入描述" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item" id="div_max_times">
        <div class="layui-inline">
            <label class="layui-form-label" style="width:95px;">最大次数</label>
            <div class="layui-input-block" style="width:380px;margin-left:130px;">
                <input type="number" name="maxTimes" placeholder="请输入最大次数" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item" id="div_max_date">
        <div class="layui-inline">
            <label class="layui-form-label" style="width:95px;">报警时间(毫秒)</label>
            <div class="layui-input-block" style="width:380px;margin-left:130px;">
                <input type="number" name="maxDate" placeholder="请输入报警时间" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item" id="div_max_rate" style="display:none">
        <div class="layui-inline">
            <label class="layui-form-label" style="width:95px;">资产报警比率(%)</label>
            <div class="layui-input-block" style="width:380px;margin-left:130px;">
                <input type="text" name="maxDiffRate" placeholder="请输入资产报警比率" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width:95px;">报警邮件</label>
            <div class="layui-input-block" style="width:380px;margin-left:130px;">
                <textarea name="email" placeholder="请输入报警邮件，多个用逗号隔开" autocomplete="off"
                       class="layui-textarea"></textarea>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width:95px;">报警电报</label>
            <div class="layui-input-block" style="width:380px;margin-left:130px;">
                <textarea name="telegram" placeholder="请输入报警电报，多个用逗号隔开" autocomplete="off"
                       class="layui-textarea"></textarea>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width:95px;">报警电话</label>
            <div class="layui-input-block" style="width:380px;margin-left:130px;">
                <textarea name="telephone" placeholder="请输入报警电话，多个用逗号隔开" autocomplete="off"
                       class="layui-textarea"></textarea>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width:95px;">备注</label>
            <div class="layui-input-block" style="width:380px;margin-left:130px;">
                <textarea name="remarks" placeholder="请输入备注" class="layui-textarea"></textarea>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block" style="margin-left: 200px;">
            <button class="layui-btn" lay-submit="" lay-filter="sub-btn">提交</button>
            <button type="reset" class="layui-btn">重置</button>
        </div>
    </div>
</form>

<script>
    var subTypeMap;
    $(document).ready(function () {
        var typeMapStr = $("input[name='subTypeMapId']").val();
        subTypeMap = JSON.parse(typeMapStr);
        for (x in subTypeMap) {
            $("select[name='flowSubType']").append("<option value='" + subTypeMap[x].code + "'>" + subTypeMap[x].description + "</option>");
        }
    });

    layui.use('layer', function () {
        var layer = layui.layer;
    });
    layui.use('form', function () {
        var form = layui.form;
        form.on('select(type)', function (data) {
            if (data.value == 1) {
                $('#div_max_times').css({ display: "block" });
                $('#div_max_date').css({ display: "block" });
                $('#div_sub_type').css({ display: "block" });
                $('#div_max_rate').css({ display: "none" });
            } else {
                $('#div_max_times').css({ display: "none" });
                $('#div_max_date').css({ display: "none" });
                $('#div_sub_type').css({ display: "none" });
                $('#div_max_rate').css({ display: "block" });
            }
            // console.log(data.elem); //得到select原始DOM对象
            // console.log(data.value); //得到被选中的值
            // console.log(data.othis); //得到美化后的DOM对象
        });

        //监听提交
        form.on('submit(sub-btn)', function (data) {
            // console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
            // console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
            // console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
            save(data);
            return false;
        });
    });

    //保存
    function save(data) {
        var tishi = layer.load(1, {shade: [0.8, '#393D49']});
        var formData = data.field;
        formData.isCheck = true;
        if (formData.enable == 1) {
            formData.enable = 'true';
        } else {
            formData.enable = 'false';
        }
        $.ajaxUkey({
            url: "/alertAssets/save",
            type: 'POST',
            data: JSON.stringify(formData),
            dataType: "JSON",
            contentType: 'application/json;charset=UTF-8',
            success: function (data) {
                layer.close(tishi);
                if (data.success) {
                    layer.alert('操作成功！', {title: '提示信息', icon: 6}, function (index) {
                        parent.layer.closeAll();
                        parent.location.reload();
                    });
                } else if (data.msg != null) {
                    layer.msg(data.msg);
                } else {
                    // 提示失败
                    layer.alert('系统异常，操作失败!', {title: '提示信息', icon: 5});
                }
            },
            error: function (e) {
                //最后数据加载完 让 loading层消失
                layer.close(tishi);
                layer.msg('系统升级维护中，请稍后重试');
            }
        });
    }

</script>
</body>
</html>